* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/******** Navbar  **********/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #d3d3d3;
}

.logo {
  text-decoration: none;
  font-size: xx-large;
  font-weight: 600;
  color: #ec5242;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  color: #ec5242;
}

/******** Calculator  **********/

.calculator {
  display: flex;
  justify-content: space-between;
  height: 85vh;
  width: 80%;
  margin: 0 auto;
  padding-top: 10%;
}

.calculator h2 {
  color: #ec5242;
  font-size: 32px;
}

.calculator-content {
  width: 30%;
  border-radius: 10px;
  padding: 8px;
}

#calculator-display {
  width: 100%;
  padding: 7px 15px;
  outline: none;
  font-size: 36px;
  background-color: #b1b1b1;
  color: #fffafa;
  text-align: right;
  border: none;
}

.buttons {
  grid-gap: 2px;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}

.span-two {
  grid-column: span 2;
}

.btn-orange {
  background-color: #ff7518;
}

button {
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  background: #d3d3d3;
  border: none;
  color: black;
}

button:active {
  filter: brightness(0.5);
}

/******** Quote  **********/

.quote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  height: 85vh;
  margin: 0;
}

.quote,
.error {
  color: #c2bdbd;
  font-size: 26px;
}

.error {
  color: red;
}
